@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pizza Management Application</h1>
    <p>Use the navaigation bar above to manage your toppings and pizza creations.</p>
</div>
